ul {
  list-style-type: none;
  padding:0;
  margin:0;
  float: right;

}

li {
  display: inline;
  margin-right: 10px;
}



li > a {
  color:#085394;
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}

.App {
  height:100%
}